.ideTable[ide-iscontainer] table > tbody > tr:nth-child(n+2){
    position: relative;
    pointer-events: none;
}

.ideTable[ide-iscontainer] table > tbody > tr:nth-child(n+2)::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,0.8);
    z-index: 999;
}