<!DOCTYPE html>
<html>
  <head>
    <title>demo vue</title>
    <link crossorigin="anonymous" rel="stylesheet" href="https://ceph.lcap.hatest.163yun.com/lcap-test-static/packages/cloud-ui.vusion@0.18.0/dist-theme/index.css" />
    <script crossorigin="anonymous" src="https://ceph.lcap.hatest.163yun.com/lcap-test-static/packages/vue@2/dist/vue.min.js"></script>
    <script crossorigin="anonymous" src="https://ceph.lcap.hatest.163yun.com/lcap-test-static/packages/cloud-ui.vusion@0.18.0/dist-theme/index.js"></script>
    <script crossorigin="anonymous" src="https://ceph.lcap.hatest.163yun.com/lcap-test-static/packages/lcap-pc-template@0.8.1/cloudAdminDesigner.umd.min.js"></script>
    <script crossorigin="anonymous" src="https://ceph.lcap.hatest.163yun.com/lcap-test-static/packages/lcap-login@1.2.0/dist-theme/index.js"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>